/*  your css code here. If applicable */

.hero{
	display: flex;
    justify-content: center;
    align-items: center;
}
.image{
	width:300px;
	height:200px;
	object-fit:cover;
}
button{
	padding: 10px;
    background-color: #e60023; /* Set your desired button background color */
    color: #fff; /* Set the text color for the button */
    border-radius: 5px; /* Add rounded corners to the button */
    font-weight: bold;
    font-size: 18px;
    border:none;
}
:hover{
	background-color{
		
	}
}
button:hover{
	background-color: hotpink;
}